@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	font-family: 'Oswald', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif !important;
}
/* header section  */

.sec {
	background-color: black;
}
.nav-page{
	margin: 0px 30px;
}
.whatsapp {

	flex-shrink: 0;
	border-radius: 5px;
	background: linear-gradient(90deg, #89D54D 0%, #22CB3C 100.21%);
}
/* section 1 banner text ,image  */

.sec-1 {
	background-color: black;
}
.bannar-text {
	color: #ffffff;
	padding: 50px;
	display: flex;
	height: 100%;
}
.top-banner-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

}
.h2tags span {
	flex-shrink: 0;
	color: #97E951;
    padding-left: 0;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	}
.h2tags {
	color: #FFF;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	
}
.bannar-text2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.para {
	flex-shrink: 0;
	color: #FFF;
	text-align: center;
	font-family: Roboto;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.share {
	color: #080F18;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	background: linear-gradient(90deg, #86F230 0%, #22CB3C 100%);
}
/* section-2  Understand web 3.0 */

.sec-2 {
	background-color: black;
}
@media (max-width : 450px) {
     .under-text{
        padding: 20px;
	 }  
	
}
.h2Under {
	flex-shrink: 0;
	color: #FFF;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
	/* 111.111% */
}
.h2Under span {
	color: #7FED28;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}

.under-text p {

	flex-shrink: 0;
	color: #FFF;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	/* 144.444% */
}
.get-btn {

	flex-shrink: 0;
	border-radius: 5px;
	background: linear-gradient(90deg, #85F130 0%, #23CB3C 100.21%);
}
/* section 3  businees */

.sec-3 {
	background-color: #000000;
}
.businees {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.business-text h2 {
	color: #FFF;
	font-family: Roboto;
	font-size: 54px;
/*	display: flex;
	justify-content: center;
	flex-wrap: wrap;*/

	/* 111.111% */
}
.business-text h2 span {
	color: #7FED28;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}
.business-text p {
	color: #FFF;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	/* 144.444% */
}
.icon-card {
	background-color: #090a0c;
	border-radius: 10px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
}
.icon-card:hover{
    background-color: #52af59;
	
}
.icon-card:hover .circle{
	background-color: #FFF;
	
}
.icon-card:hover p{
	color: #000000;
}
.icon-card:hover h4{
	color: #080505;
}
.icon-card h4 {
	color: #7FED28;
	text-align: center;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34px;
	/* 141.667% */
	flex-shrink: 0;
}
.icon-card p {
	color: #C7C9CB;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	/* 144.444% */
}
.circle {
	background-color: #7FED28;
	border-radius: 50%;
	width: 82px;
	height: 82px;
	flex-shrink: 0;
}

/* section-4  serivices */

.sec-4 {
	background-color: #000000;
}
.services h2 {
	color: #FFF;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
	margin-bottom: 20px ;
	/* 111.111% */
}
.services h2 span {
	color: #7FED28;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}
.web3-card {
	border-radius: 15px;
	border: 2px solid #40464B;
	background: #101A25;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 20px;
}
.web3-card h4 {
	color: #7FED28;
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34px;
	/* 141.667% */
	flex-shrink: 0;
}
.web3-card p {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	color: #FFF;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;

	/* 144.444% */
}
/* Various web  */
.sec-5{
    background-color: #101A25;
}

.cover-text {
flex-shrink: 0;
    color: #FFF;
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 111.111% */

}
.cover-text  span{
    color: #7FED28;
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.list ul li{
	list-style: none;
	color: #fff;

}
.list ul li img{
	padding: 10px;
}
.list{
		display: flex;
	justify-content: center;
	align-items: center;
}
.coverweb3 p{
	color: #FFF;
	position: relative;
	padding: 7px;
}
.coverweb3 p:hover{
	color: #86F230;
}

/* section-6 technology */
.sec-6{
    background-color: #000000;
}
.technologies h2{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 111.111% */
}
.technologies h2 span{
    color: #7FED28;
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.web3-box{
	border-radius: 15px;
border: 2px solid #40464B;
background: #101A25;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
width: 60px;
  padding: 10px;

}
.web3-box:hover {
	background-color: #86F230;
	
}
.technologies p{
	color: #ffffff;
	padding: 10px 10px 10px 0px;
}
/* section-7 */
.sec-7{
	background: #101A25; 
}
.tech h2{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px; 
	padding: 50px;/* 111.111% */
}
.tech h2 span{
	color: #7FED28;
	font-family: Roboto;
	font-size: 54px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}
.Gamecard{
	margin: 50px 0;
	border: 1px solid #7FED28 ;
	border-radius: 20px;
}
/*.Gamecard:hover{ 
	border-radius: 15px;
    background: linear-gradient(180deg, #83F030 0%, #26CC3B 100%);
    
}*/

.Gamecard h3{
	color: #7FED28; 
	margin: 10px;
	display: flex;
	justify-content: center;
}
.Gamecard div ul li {
	list-style: none;
	color: #ffffff;
	padding: 3px;
}
.Gamecard div ul li img{
	margin: 10px;
}
/*    section 8  */
.sec-8{
	background: #070D14;
}
.web3card{
	padding: 50px;
	border-radius: 15px;
	background: linear-gradient(180deg, #83F030 0%, #26CC3B 100%);


}
.web3card h3{
	color: #070D14;
	text-align: center;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
 /* 114.286% */
}
.web3card button{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	background: #070D14;
	color: #FFF;	
	font-size: 20px;
	font-weight: 500;

} 
.last h2{
	color: white;
	font-size: 50px;
	padding: 50px 0 10px;

}
.last h2 span{
	color: #7FED28; 
}
.last p{
	color: #fff;
}
@media only screen and (max-width: 768px) {

	.top-banner-right p{
		color: white;
        padding-bottom: 50px ;
	}
	.bannar-text2{
		padding: 10px;
	}
	.bannar-text2 .para{
        flex-shrink: 0; 
		font-size: 30px;
	}
	.icon-card{
		margin: 10px 0;
	}
	.web3-card{
		margin:10px	0
	}
	.under-image img{
		width: 440px;
	}
	.t{
		margin-left: 70px;
	}
	.h2tags{
		font-size: 20px;
	}
  }
  @media only screen and (max-width: 576px) {

	.top-banner-right p{
        padding-bottom: 50px ;
	}
	.bannar-text2{
		padding: 10px;
	}
	.bannar-text2 .para{
        flex-shrink: 0; 
		font-size: 30px;
	}
	.icon-card{
		margin: 10px 0;
	}
	.web3-card{
		margin:10px	0
	}
	.under-image img{
		width: 440px;
	}
	.t{
		margin-left: 70px;
	}
	.h2tags{
		font-size: 30px;
	}
	.h2Under{
		font-size: 30px;
	}
    .h2Under span{
    	font-size: 20px;
    }
    .services h2{
    	font-size: 40px;
    }
    .services h2 span{
    	font-size: 40px;
    }
    .business-text h2{
    	font-size: 40px;
    }
    .business-text h2 span{
    	font-size: 40px;
    }
    .list{
    	display: block;
    }
  }

